# Pandas Assignment

# Problem Statement 1

2.2.1.1: How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros, print the position
Consider a DataFrame df where there is an integer column {'X'[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

x = (df['X'] != 0).cumsum() 
y = x != x.shift()

df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

x = (df['X'] != 0).cumsum()
y = x != x.shift()

df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

print(df)

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

2.2.1.2 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [17]:
import pandas as pd
import numpy as np

dateindex= pd.date_range(start='2015-01-01', end='2015-12-31')
out_series= pd.Series(data=np.random.rand(len(dateindex)), index= dateindex)
print(out_series)

2015-01-01    0.984858
2015-01-02    0.706966
2015-01-03    0.862750
2015-01-04    0.300021
2015-01-05    0.618004
2015-01-06    0.783022
2015-01-07    0.519104
2015-01-08    0.482429
2015-01-09    0.352682
2015-01-10    0.998686
2015-01-11    0.858370
2015-01-12    0.373559
2015-01-13    0.623506
2015-01-14    0.592847
2015-01-15    0.149921
2015-01-16    0.559957
2015-01-17    0.386560
2015-01-18    0.794105
2015-01-19    0.788096
2015-01-20    0.279767
2015-01-21    0.026465
2015-01-22    0.882307
2015-01-23    0.269496
2015-01-24    0.629824
2015-01-25    0.917419
2015-01-26    0.605532
2015-01-27    0.715210
2015-01-28    0.353622
2015-01-29    0.402349
2015-01-30    0.402956
                ...
2015-12-02    0.531862
2015-12-03    0.142749
2015-12-04    0.904388
2015-12-05    0.202971
2015-12-06    0.732232
2015-12-07    0.805776
2015-12-08    0.641687
2015-12-09    0.673613
2015-12-10    0.527415
2015-12-11    0.265786
2015-12-12    0.896060
2015-12-13    0.608198
2015-12-14    0.233332
2015-12-15    0.396479
2015-12-16    0.693083
2015-12-17    0.074629
2015-12-18    0.569578
2015-12-19    0.882052
2015-12-20    0.819492
2015-12-21    0.864450
2015-12-22    0.901539
2015-12-23    0.746674
2015-12-24    0.881255
2015-12-25    0.658611
2015-12-26    0.400465
2015-12-27    0.590091
2015-12-28    0.040924
2015-12-29    0.586344
2015-12-30    0.775182
2015-12-31    0.240379
Freq: D, Length: 365, dtype: float64

2.2.1.3 Find the sum of the values in s for every Wednesday

In [18]:
out_series[dateindex.dayofweek == 2].sum()

26.440564880765525

2.2.1.4 Average For each calendar month

In [19]:
out_series.groupby(pd.Grouper(freq='M')).mean()

2015-01-31    0.570800
2015-02-28    0.463043
2015-03-31    0.498975
2015-04-30    0.559143
2015-05-31    0.436180
2015-06-30    0.488033
2015-07-31    0.437942
2015-08-31    0.419114
2015-09-30    0.536251
2015-10-31    0.557813
2015-11-30    0.580951
2015-12-31    0.580343
Freq: M, dtype: float64

2.2.1.5 For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [23]:
out_series.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-10
2015-05-31   2015-02-28
2015-09-30   2015-07-31
2016-01-31   2015-11-28
dtype: datetime64[ns]

# Problem Statement 2

Read the dataset from the below link
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Nam es_right.csv

In [3]:
import pandas as pd
import numpy as np

df_baby= pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

2.2.2.1 Delete unnamed columns

In [7]:
df_baby.drop(['Unnamed: 0'],axis = 1, inplace= True)
df_baby.head(5)

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

2.2.2.2 Show the distribution of male and female

In [8]:
df_baby.Gender.value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

2.2.2.3 Show the top 5 most preferred names

In [11]:
df_baby.Name.value_counts().head(5)

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

2.2.2.4 What is the median name occurrence in the dataset

In [17]:
df_baby[df_baby["Id"] == df_baby["Id"].median()]["Name"]

508197    Kasey
Name: Name, dtype: object

2.2.2.5 Distribution of male and female born count by states

In [19]:
df_baby.groupby(["State"]).Gender.value_counts()

State  Gender
AK     M          2587
       F          2404
AL     F          9878
       M          8419
AR     F          7171
       M          6475
AZ     F         14518
       M         10820
CA     F         45144
       M         31637
CO     F         11424
       M          9183
CT     F          6575
       M          5733
DC     F          3053
       M          3000
DE     F          2549
       M          2440
FL     F         25781
       M         20070
GA     F         19385
       M         15454
HI     M          3546
       F          3255
IA     F          7131
       M          6307
ID     F          4918
       M          4833
IL     F         21268
       M         16828
                 ...
OK     F          9519
       M          8138
OR     F          8604
       M          7333
PA     F         17480
       M         14171
RI     F          2558
       M          2468
SC     F          9465
       M          8195
SD     M          2908
       F          2838
TN     F         13063
       M         10588
TX     F         39760
       M         27791
UT     F          9515
       M          8233
VA     F         14759
       M         11997
VT     M          1618
       F          1398
WA     F         13329
       M         11049
WI     F         10549
       M          8940
WV     F          4305
       M          3733
WY     M          1904
       F          1456
Name: Gender, Length: 102, dtype: int64